extends ../master

block content
  .row
    .col-lg-12
      h1 Slab for Pebble
      p.lead Slab is a Pebble client for the Slack chat application.
      a.btn.btn-lg.btn-block.btn-success(href=loginUrl)
        i.fa.fa-slack.fa-fw
        | LOGIN TO SLACK

  .screenshot-footer(style="background-image: url('/images/#{model}.png')")
